.song,
.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.songSpan {
  font-weight: 400;
}

.artistSpan {
  font-weight: 400;
}
